<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpsplitorder
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <splitship>
                <active>1</active>
                <allowed_methods>delivery</allowed_methods>
                <methods>delivery</methods>
                <sallowspecific>0</sallowspecific>
                <model>Webkul\Mpsplitorder\Model\Carrier\CustomShipping</model>
                <name>Mp splitorder ship</name>
                <title>Mp splitorder ship</title>
                <handling_type>F</handling_type>
            </splitship>
        </carriers>
    </default>
</config>
