<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Bijay_HomepageSlider" sortOrder="100" translate="label">
            <label>Homepage Slider</label>
        </tab>
        <section id="Homepage_Slider" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>Bijay_HomepageSlider</tab>
            <label>Module Configuration</label>
            <resource>Bijay_HomepageSlider::configuration</resource>
            <group id="configuration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enable/Disable Module</label>
                <field id="enable" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
        </section>
    </system>
</config>